.main-box{
  
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    border: 1px 'solid red';
    height: 100vh;
   
    
    
}


@media only screen and (max-width: 480px) {
  .main-box {
     /* Set width to 80% on phone screens */
    border: 1px 'solid red';
    height: 125vh;
    width: 100%;
   margin-left: 20px;
    
  }

}